@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	background: #000;
}
h1.title{
	margin-bottom: 20px;
	color: #444444;
	font-family: 'Allura', cursive;
	text-transform: uppercase;
	font-size: 38px;
	word-spacing: 25px;
	letter-spacing: 5px;
}

.main_container{
    background: #36454F;
	position: relative;
}

/* Navigation bar */
.navbar{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	background: #33333300;
	z-index: 1;
}
.navbar .logo{
	display: flex;
	width: 181px;
	height: 70px;
}
.logo a{
    font-family: 'Ubuntu', sans-serif;
	font-size: 32px;
	color: #ffffff;
}

.navbar .navbar_items ul{
	display: flex;
}

.navbar .navbar_items ul li{
	text-transform: uppercase;
	margin: 0 10px;
}

.nav__links li a {
	color: #ffffff;
    transition: color 0.3s ;
  }
  
  .nav__links li a:hover {
	font-weight: bolder;
    color: #a90000;
  }
  
/* Banner Image */
.banner_image{
	background: url("./img/bg-3.jpg") no-repeat top center;
    background-size: cover;
	width: 100%;
	height: 641px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mid{
	width: 100%;
	display: flex;
	align-items: center;
}
.banner_content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
}

.banner_content h1{
	text-transform: uppercase;
	line-height: 38px;

}

.banner_content h1 span{
    font-size: 40px;
	color: #ffffff;
}

.banner_content p{
	color: #ffffff;
}
/*info*/
.info{
    padding: 10px;
    display: flex;
    flex-direction: row;
	z-index: 1;
    width: 100%;
    height: 650px;
	background-#000;
	background-size: cover;
	align-items: center;
}
.info .text{
    padding: 10px;
    display: flex;
    flex-direction: column;
	color: #ffffff;
    width: 50%;
    font-size: 25px;
    text-align: justify;

}
.info .MNM{
    display: flex;
    width: 40%;
    flex-direction: column;

}
.info .img{
    display: flex;
	flex-direction: column;
    background-image: url(./img/img.jpg);
    height: 67vh;
    background-size: cover;
	transform: translate(10%);
}
.info .TXT{
	display: flex;
	flex-direction: column;
    text-align: center;
}
.info .TXT h3{
	color: #fff;
	text-transform: uppercase;


}
.info p{
	margin-bottom: 15px;
	line-height: 20px;
    line-height: 1.5;
	color: #ffffff;
}
/* About us */
/*.about,
.services,
.contactus,
.ourteam{
	padding: 5% 10%;
	text-align: center;
}

/* Services *//*
.services{
	background: #f5f5f5;
}

.diff_services{
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

.diff_service_item{
	width: 30%;
}

.diff_service_item img{
	width: 100%;
	margin-bottom: 25px;
}

.diff_service_item h3{
	color: #fb2274;
	margin-bottom: 15px;
}

/* Contact Us *//*
.form_input{
	margin-bottom: 15px;
}

.form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px;
	border: 1px solid #ccc;
}

.form_input textarea{
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}

/* Our Team*//*
.ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_member{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
}

.ourteam_wrapper .team_member img{
	width: 100%;
	display: block;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}

/* footer *//*
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}

@media (max-width: 720px){
	.navbar{
		height: auto;
		flex-direction: column;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar ul li{
		margin-bottom: 5px;
	}

	.banner_content{
		margin-top: 35px;
	}
}

*/
iframe{
	align-items: center;
}

/* arrow */
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #a90000;
	border-radius: 50%;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #a90000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #a90000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #a90000;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
