@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.logo{
	width:100px;
	height:100px;
}

#nav-item1:hover{
	color: #a90000;
}
#nav-item2:hover{
	color: #a90000;
}
#nav-item3:hover{
	color: #a90000;
}
#nav-item4:hover{
	color: #a90000;
}
#nav-item5:hover{
	color: #a90000;
}
#nav-item6:hover{
	color: #a90000;
}
#nav-item7:hover{
	color: #a90000;
}
/* Navigation bar*/
#nav-item1{
	font-weight: bolder;
	color:white;
}
#nav-item2{
	font-weight: bolder;
	color:white;
}
#nav-item3{
	font-weight: bolder;
	color:white;
}
#nav-item4{
	font-weight: bolder;
	color:white;
}
#nav-item5{
	font-weight: bolder;
	color:white;
}
#nav-item6{
	font-weight: bolder;
	color:white;
}
#nav-item7{
	font-weight: bolder;
	color:white;
}
/* Banner Image */
.banner_image{
	background-image:url("./img/bg-3.jpg");
    background-size:cover;
	height:100vh;
}
.banner-heading{
	color:white;
}
.banner-description{
color:white;
font-size:20px;
}
/*info*/
.info{
    padding: 10px;
    display: flex;
    flex-direction: row;
	z-index: 1;
    width: 100%;
	background-color: #38393d;
	background-size: cover;
	align-items: center;
}
.info .text{
    padding: 10px;
    display: flex;
    flex-direction: column;
	color: #ffffff;
    width: 50%;
    font-size: 25px;
    text-align: justify;

}
.ceo-image{
	height: 400px;
	width:100%;
}
.info p{
	margin-bottom: 15px;
	line-height: 20px;
    line-height: 1.5;
	color: #ffffff;
}
.h2{
	color: #9e9898;
}
section{
	background-color: #6b6767;
}
.para{
	color: #fff;
}
.link{
	text-align: center;
}
/* About us */
/*.about,
.services,
.contactus,
.ourteam{
	padding: 5% 10%;
	text-align: center;
}

/* Services *//*
.services{
	background: #f5f5f5;
}

.diff_services{
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

.diff_service_item{
	width: 30%;
}

.diff_service_item img{
	width: 100%;
	margin-bottom: 25px;
}

.diff_service_item h3{
	color: #fb2274;
	margin-bottom: 15px;
}

/* Contact Us *//*
.form_input{
	margin-bottom: 15px;
}

.form_input input[type="text"]{
	width: 250px;
	padding: 12px 20px;
	border: 1px solid #ccc;
}

.form_input textarea{
	width: 250px;
	padding: 12px 20px;
	height: 80px;
	resize: none;
	border: 1px solid #ccc;
}

/* Our Team*//*
.ourteam{
	background: #f5f5f5;
}

.ourteam_wrapper .team{
	display: flex;
	justify-content: space-between;
}

.ourteam_wrapper .team-1.team{
	margin-bottom: 25px;
}

.ourteam_wrapper .team_member{
	width: 30%;
	height: auto;
	cursor: pointer;
	overflow: hidden;
}

.ourteam_wrapper .team_member img{
	width: 100%;
	display: block;
	height: auto;
	transition: all 0.5s ease;
}

.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}

/* footer *//*
.footer{
	width: 100%;
	text-align: center;
	background: #444444;
	padding: 20px 0;
}

.footer a{
	color: #fff;
}

@media (max-width: 720px){
	.navbar{
		height: auto;
		flex-direction: column;
	}

	.navbar ul{
		flex-direction: column;
		text-align: center;
	}

	.logo{
		margin-bottom: 25px;
	}

	.navbar ul li{
		margin-bottom: 5px;
	}

	.banner_content{
		margin-top: 35px;
	}
}

*/
iframe{
	align-items: center;
}

/* arrow */
.arrow{
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 40px;
	height: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #a90000;
	border-radius: 50%;
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #a90000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #a90000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #a90000;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
