@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body    
{
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #a900682b;
	gap: 100px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
	position: relative;
	min-width: 350px;
	min-height: 500px;
	border-radius: 30px;
	padding: 50px;
	background: #a900004a;
}
.registerbtn{
    width: 7%;
    background: #a900004a;
    border: 2px solid #a90000;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}