
.container {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    background-color: #d6a17c4f;
    padding: 10px;
    margin: 10px;
}

.image {
    height: 220px;
    background-size: cover;
}

.image1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.description {
    margin: 5px;
}

.heading {
    color: #fb5122;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.para {
    font-size: 16px;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width:768px) {
    .section {
        display: flex;
        flex-direction: column;
    }

    .para {
        font-size: 18px;
    }
}